In [1]:
from pandas import Series
import numpy as np

In [2]:
data1 = Series([45,26,47,74,34])
data1

0    45
1    26
2    47
3    74
4    34
dtype: int64

In [3]:
data2 = Series([45,26.56, '홍길동',True,34])
data2

0       45
1    26.56
2      홍길동
3     True
4       34
dtype: object

In [6]:
data3 = Series(np.random.randint(1,10,size=(5,)),
               index=['1회','2회','3회','4회','5회'])
data3

1회    8
2회    8
3회    1
4회    5
5회    9
dtype: int32

In [7]:
data3['2회']

8

In [8]:
data3['2회'] = 29
data3

1회     8
2회    29
3회     1
4회     5
5회     9
dtype: int32

In [9]:
data3.index

Index(['1회', '2회', '3회', '4회', '5회'], dtype='object')

In [10]:
data3.values

array([ 8, 29,  1,  5,  9])

In [11]:
age = {'kim':28, 'lee':25, 'park':34}
data4 = Series(age)
data4

kim     28
lee     25
park    34
dtype: int64