In [1]:
list1 = [10,21,35,67,32]
names = ['홍길동','이순신','강감찬']
list1

[10, 21, 35, 67, 32]

In [2]:
for no, value in enumerate(list1) :
    print(no+1, value)

1 10
2 21
3 35
4 67
5 32

In [3]:
for no, name in enumerate(names) :
    print(no+1, name)

1 홍길동
2 이순신
3 강감찬