In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.ones((4,4)),index=['a','b','c','d'])
df

     0    1    2    3
a  1.0  1.0  1.0  1.0
b  1.0  1.0  1.0  1.0
c  1.0  1.0  1.0  1.0
d  1.0  1.0  1.0  1.0

In [3]:
df[1]['b']=np.nan
df[3]['b':]=np.nan
df

     0    1    2    3
a  1.0  1.0  1.0  1.0
b  1.0  NaN  1.0  NaN
c  1.0  1.0  1.0  NaN
d  1.0  1.0  1.0  NaN

In [4]:
pd.isnull(df)

       0      1      2      3
a  False  False  False  False
b  False   True  False   True
c  False  False  False   True
d  False  False  False   True

In [5]:
pd.notnull(df)

      0      1     2      3
a  True   True  True   True
b  True  False  True  False
c  True   True  True  False
d  True   True  True  False

In [6]:
df[3].isnull().sum()

3

In [7]:
df1 = df.dropna()
df1

     0    1    2    3
a  1.0  1.0  1.0  1.0

In [10]:
df.fillna(0)

     0    1    2    3
a  1.0  1.0  1.0  1.0
b  1.0  0.0  1.0  0.0
c  1.0  1.0  1.0  0.0
d  1.0  1.0  1.0  0.0

In [11]:
df.fillna({1:3, 3:7})

     0    1    2    3
a  1.0  1.0  1.0  1.0
b  1.0  3.0  1.0  7.0
c  1.0  1.0  1.0  7.0
d  1.0  1.0  1.0  7.0

In [12]:
df.fillna('unknown')

     0        1    2        3
a  1.0        1  1.0        1
b  1.0  unknown  1.0  unknown
c  1.0        1  1.0  unknown
d  1.0        1  1.0  unknown